<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper footer-col-wrapper--custom">
            <div class="footer-col">
                <h3 class="footer-heading">Enigma0960</h3>
                <p class="footer-text">Личный блог о проектах, разработке, домашней инфраструктуре и инженерных
                    экспериментах.</p>
            </div>
            <div class="footer-col footer-links">
                <a href="https://github.com/Enigma0960">
                    <img src="{{ '/assets/github-icon.svg' | relative_url }}" alt="GitHub"/>
                    <span>GitHub</span>
                </a>

                <a href="{{ '/feed.xml' | relative_url }}">
                    <img src="{{ '/assets/feed-icon.svg' | relative_url }}" alt="GitHub"/>
                    <span>RSS</span>
                </a>
            </div>
        </div>
    </div>
    </div>
</footer>
