.image-line {
  margin: 20px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  & > * {
    margin: 10px;
  }

  & figure {
    width: 300px;

    figcaption {
      text-align: center;
    }
  }

  & img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}

.contain {
  & img {
    object-fit: contain;
  }
}

.image-in-list {
  width: 100px;
  margin: 4px;
}

.image-center {
  margin: 20px auto;

  height: 200px;
  width: 200px;
  object-fit: fill;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}