@charset "utf-8";

$text-color: #111111 !default;
$background-color: #fdfdfd !default;
$brand-color: #4b4b4b !default;

$brand-color-light: lighten($brand-color, 40%) !default;


$border-color-01: $brand-color-light !default;