---
layout: default
---
<div class="header-block site-header-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-block">
    {{ content }}
</div>

<div class="last-posts-block">
    <h1>Последнии статьи</h1>
    {% for post in site.posts limit: 10 %}
    <h2><a href="{{post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    {% endfor %}
</div>

<div class="tags-block">
    <h1>Поиск по тегам</h1>
    {% for tag in site.tags %}
        {%- assign tag_page = "/tags/?" | append: tag[0] -%}
        <a class="tags-button" href="{{ tag_page | relative_url }}">{{ tag[0] }}</a>
    {% endfor %}
</div>
