---
layout: default
---

<div class="header-block site-header-image" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-block">
    {{ content }}
</div>

<section class="last-posts-block">
    <div class="section-heading">
        <h1>Последние статьи</h1>
        <a class="section-heading__link" href="{{ '/posts/' | relative_url }}">Все статьи</a>
    </div>

    <div class="post-feed">
        {% for post in site.posts limit: 10 %}
        {% include post-card.html post=post %}
        {% endfor %}
    </div>
</section>
