---
layout: default
---

<div class="header-block site-header-image" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-block">
    {{ content }}
</div>

<div class="last-posts-block">
    <h1>Последние статьи</h1>
    {% for post in site.posts limit: 10 %}
    <ul class="post-list">
        <li>
            {% if post.published %}
            <span class="post-meta">{{ post.published | date: date_format }}</span>
            {% else %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            {% endif %}
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            {% if post.description %}
            <p class="post-content">{{ post.description | escape }}</p>
            {% endif %}
        </li>
    </ul>
    {% endfor %}
</div>
